@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("admin") == false)
{
    <div>
        <form asp-action="Support" asp-controller="Chat">
            <button id="support" class="btn btn-primary">صفحه ارسال پیغام</button>
        </form>
    </div>
}

<div style="margin-top: 20px">
    <form asp-action="ChatManagement" asp-controller="Chat">
        <button class="btn btn-primary">مشاهده پیغام ها (فقط ادمین)</button>
    </form>
</div>
